/* Modules */

button {
  display: block;
  margin: 0.618em auto;
  padding: 0.618em 1.618em;
}


.base-1 {
  border-bottom: 3px solid #267935;
}

.base-2 {
border-right: 3px solid #267935;
}

.base-3 {
border-top: 3px solid #267935;
}

.base-4 {
border-left: 3px solid #267935;
background-color: #808080;
}

.diamond h2 {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

footer {
  text-align: center;
  margin: 0.618em auto;
}

.ball, .strike, .RBI, .outs {
  position: absolute;
}

.ball{
top: 0;
left: 0;
}
.strike {
  top: 1em;
  left: 0;
}

.RBI {
  bottom: 0;
  left: 0;
}

.outs {
  bottom: 0;
  right: 0;
}

[data-ball]:after {
content: attr(data-ball);
}

[data-strikes]:after {
content: attr(data-strikes);
}


[data-RBI]:after {
content: attr(data-RBI);
}

[data-outs]:after {
content: attr(data-outs);
}
