
table, th, td {
  border-collapse: collapse; /*duplicated in base.css*/
  border: 1px solid black;
}


/* Styles for template plate appearance*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

.flexcontainer {
  height: 100%;
  width: 20vh;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.plateappearance {
  height: 20vh;
  width: 100%;
  border: 1px solid black;
  position: relative;
  flex: 1;
  -webkit-flex: 1;
}

.diamond {
  position: relative;
  left: 25%;
  top: 25%;
  border: 1px solid black;
  height: 50%;
  width: 50%;
  transform:rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
