


/* Styles for template plate appearance*/


.inning {
  width: 9vw;
  height: auto;
  float: left;
}
.colhead {
  font-size: 2.5vw;
  width: 100%;
  height: 3vw;
  border: 1px solid black;
  text-align: center;
}
.plateappearance {
  height: 9vw;
  width: 100%;
  border: 1px solid black;
  position: relative;
  flex: 1;
  -webkit-flex: 1;
}
.diamond {
  position: relative;
  left: 25%;
  top: 25%;
  border: 1px dashed darkblue;
  height: 50%;
  width: 50%;
  transform:rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
.battingorder {
  width: 27vw;
  height: auto;
}
.playername {
  height: 9vw;
  width: 100%;
  border: 1px solid black;
  position: relative;
  flex: 1;
  -webkit-flex: 1;
}
.scroll{
  overflow: scroll;
}
.fullwidth{
  width: 100vw;
}
